<div class="list-group">
	<a href="#/group">
    <div class="list-group-item">
        <div class="row-action-primary">
            <i style="background-color: #F44336;" class="mdi-action-perm-identity"></i>
        </div>
        <div class="row-content">
            <!-- <div class="least-content">15m</div> -->
            <h4 class="list-group-item-heading">Alcoholics Anonymous</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
        </div>
    </div>
</a>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i style="background-color: #009688;" class="mdi-action-favorite"></i>
        </div>
        <div class="row-content">
            <!-- <div class="least-content">10m</div> -->
            <h4 class="list-group-item-heading">Grief Support Group</h4>
            <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
    <div class="list-group-item">
        <div class="row-action-primary">
            <i style="background-color: #03A9F4;" class="mdi-communication-call-made"></i>
        </div>
        <div class="row-content">
            <!-- <div class="least-content">8m</div> -->
            <h4 class="list-group-item-heading">Recovering Redemption</h4>
            <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
</div>